.date {
    text-align: center;
    font-size: 56px;
    background-color: lime;
    width: 1200px;
    margin: 0 auto 0 auto;
    padding: 5px;
}
h1 {
    margin: auto;
}
.formPopup {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    padding: 10px;
}
.checkBox {
    display: flex;
    flex-direction: row;
}
.formTitle {
    font-size: 24px;
    font-weight: bold;
}
.formInfo {
    height: 80px;
    line-height: 50px;
}
.formButton {
    height: 50px;
    font-size: 24px;
    margin: 5px;
}
.hours {
    display: inline;
    width: 500px;
}
.hours-list {
    display: flex;
    flex-direction: row;
    margin: 15px;
   
}
.specific-hour {
    text-align:left;
    font-size:36px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 10px;
}
.timeline {
    background-color: aqua;
    border-radius: 15px;
    border: black solid 3px;
    height: 180px;
    width: 1200px;
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}
/* .timelineDone{
    background-color: red;
    border-radius: 15px;
    border: darkred solid 3px;
    height: 180px;
    width: 1200px;
    display:flex;
    flex-direction: column;
    margin: 0 auto 0 auto; */
/* } */
.BTN {
    width: 100px;
    height:50px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    font-weight:bold;
    background-color: darkgray;
}
.BTN:hover {
background-color: lightgray;
}
.hide {
    display: none;
    background-color: none;
}